# Django environment variables
# Django environment variables
DJANGO_SECRET_KEY=(0!$v#m-neb$x9dxlp1s9k4r!^5mdj_8f-x!o0fqqyel)9*(ex
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1


# POSTGRES

POSTGRES_DB=wearedev_db
POSTGRES_USER=wearedev_user
POSTGRES_PASSWORD=wearedev_pass